<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.BloodDonation"
        tools:targetApi="31">
        <activity
            android:name=".AddDonorsActivity"
            android:exported="false" />
        <activity
            android:name=".BloodBankAllItemsActivity"
            android:exported="false" />
        <activity
            android:name=".DataSafetyActivity"
            android:exported="false" />
        <activity
            android:name=".TermConditionActivity"
            android:exported="false" />
        <activity
            android:name=".PrivacyPolicyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AllDonorsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CriticalPatientsListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/noti" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="default_channel" />

        <activity
            android:name=".FAQActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeB" />
        <activity
            android:name=".ChatActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity android:name=".fragments.ReceivedRequestsFragment" />
        <activity
            android:name=".BothHistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeB" />
        <activity
            android:name=".SearchResultActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeB" />
        <activity
            android:name=".SearchActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeB" />
        <activity
            android:name=".BloodbankActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeA" />
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeB" />
        <activity
            android:name=".ResetCredentialActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeA" />
        <activity
            android:name=".VerifyOtpActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeA" />
        <activity
            android:name=".ForgetPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeA" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeA" />
        <activity
            android:name=".onBoardingActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeC" />
        <activity
            android:name=".SentSuccessfullActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeA" />
        <activity
            android:name=".CreateRequestActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeA" />
        <activity
            android:name=".DonateBloodActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeA" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeA" />
        <activity
            android:name=".PostActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeA" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeA" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeA" />
        <activity
            android:name=".BloodDonorActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeA" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeD"
            tools:ignore="ExtraText">
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyFirebaseMessagingService"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".NotificationCancelReceiver"
            android:exported="true" />
    </application>

</manifest>